/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Base */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8f9fc;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

/* Login Container */

.login{
    width:850px;
    display:flex;
    background:#ffffff;
    border-radius:12px;
    overflow:hidden;
    border:1px solid #e5e5e5;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

/* Image */

.login_image{
    width:45%;
}

.login_img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Form */

.login_content{
    width:55%;
    padding:40px;
}

.login_title{
    font-size:32px;
    color:#333;
    margin-bottom:10px;
}

.login_subtitle{
    color:#777;
    margin-bottom:30px;
}

/* Form */

.login_box{
    margin-bottom:18px;
}

.login_label{
    display:block;
    margin-bottom:6px;
    font-size:14px;
    font-weight:500;
}

.login_input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
}

.login_input:focus{
    outline:none;
    border-color:#6C63FF;
}

/* Options */

.login_options{
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
    font-size:14px;
}

.login_forgot{
    text-decoration:none;
    color:#6C63FF;
}

/* Button */

.login_button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:6px;
    background:#6C63FF;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.login_button:hover{
    background:#574fd6;
}

/* Signup */

.login_sign{
    margin-top:20px;
    text-align:center;
}

.login_signup{
    text-decoration:none;
    color:#6C63FF;
    font-weight:500;
}

/* Mobile */

@media(max-width:768px){

    .login{
        width:100%;
        flex-direction:column;
    }

    .login_image{
        display:none;
    }

    .login_content{
        width:100%;
        padding:30px;
    }
}